@font-face {
  font-family: 'Source Code Pro';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.eot');
  src: url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro'),
       local('Source-Code-Pro-regular'),
       url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.woff2') format('woff2'),
       url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.woff') format('woff'),
       url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.ttf') format('truetype'),
       url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.svg#SourceCodePro') format('svg');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Source-Code-Pro-500/Source-Code-Pro-500.eot');
  src: url('/fonts/Source-Code-Pro-500/Source-Code-Pro-500.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro Medium'),
       local('Source-Code-Pro-500'),
       url('/fonts/Source-Code-Pro-500/Source-Code-Pro-500.woff2') format('woff2'),
       url('/fonts/Source-Code-Pro-500/Source-Code-Pro-500.woff') format('woff'),
       url('/fonts/Source-Code-Pro-500/Source-Code-Pro-500.ttf') format('truetype'),
       url('/fonts/Source-Code-Pro-500/Source-Code-Pro-500.svg#SourceCodePro') format('svg');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Source-Code-Pro-600/Source-Code-Pro-600.eot');
  src: url('/fonts/Source-Code-Pro-600/Source-Code-Pro-600.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro Semibold'),
       local('Source-Code-Pro-600'),
       url('/fonts/Source-Code-Pro-600/Source-Code-Pro-600.woff2') format('woff2'),
       url('/fonts/Source-Code-Pro-600/Source-Code-Pro-600.woff') format('woff'),
       url('/fonts/Source-Code-Pro-600/Source-Code-Pro-600.ttf') format('truetype'),
       url('/fonts/Source-Code-Pro-600/Source-Code-Pro-600.svg#SourceCodePro') format('svg');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Source-Code-Pro-700/Source-Code-Pro-700.eot');
  src: url('/fonts/Source-Code-Pro-700/Source-Code-Pro-700.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro Bold'),
       local('Source-Code-Pro-700'),
       url('/fonts/Source-Code-Pro-700/Source-Code-Pro-700.woff2') format('woff2'),
       url('/fonts/Source-Code-Pro-700/Source-Code-Pro-700.woff') format('woff'),
       url('/fonts/Source-Code-Pro-700/Source-Code-Pro-700.ttf') format('truetype'),
       url('/fonts/Source-Code-Pro-700/Source-Code-Pro-700.svg#SourceCodePro') format('svg');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.eot');
  src: url('/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.eot?#iefix') format('embedded-opentype'),
       local('Source Sans Pro'),
       local('Source-Sans-Pro-regular'),
       url('/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.woff2') format('woff2'),
       url('/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.woff') format('woff'),
       url('/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.ttf') format('truetype'),
       url('/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.svg#SourceSansPro') format('svg');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Source-Sans-Pro-600/Source-Sans-Pro-600.eot');
  src: url('/fonts/Source-Sans-Pro-600/Source-Sans-Pro-600.eot?#iefix') format('embedded-opentype'),
       local('Source Sans Pro Semibold'),
       local('Source-Sans-Pro-600'),
       url('/fonts/Source-Sans-Pro-600/Source-Sans-Pro-600.woff2') format('woff2'),
       url('/fonts/Source-Sans-Pro-600/Source-Sans-Pro-600.woff') format('woff'),
       url('/fonts/Source-Sans-Pro-600/Source-Sans-Pro-600.ttf') format('truetype'),
       url('/fonts/Source-Sans-Pro-600/Source-Sans-Pro-600.svg#SourceSansPro') format('svg');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.eot');
  src: url('/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.eot?#iefix') format('embedded-opentype'),
       local('Source Sans Pro Bold'),
       local('Source-Sans-Pro-700'),
       url('/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.woff2') format('woff2'),
       url('/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.woff') format('woff'),
       url('/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.ttf') format('truetype'),
       url('/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.svg#SourceSansPro') format('svg');
}

body {
    background-color: #303030;
}
#controls {
  float: left;
}
#log {
  font-family: 'Source Code Pro';
  color: white;
}
#log {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#map { 
  float: right 
}

#svg1 {
    width: 1000px;
}

.map-background {
    fill: #303030;
    stroke: none;
  }

  .building-block {
fill: #ffe680;
stroke: #F3D6B6;
    stroke-width: 0;
  }

  .node {
    stroke: white;
    fill: #303030;
    stroke-width: 0.1pt;
  }

  .pointer {
    stroke: yellow;
    fill: yellow;
    stroke-width: 0;
  }

.pointer.last {
stroke: red;
fill: red;
}


  .grid {
    stroke: white;
    stroke-width: 0.1pt;
  }