@font-face {
  font-family: 'Source Code Pro';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.eot');
  src: url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro'),
       local('Source-Code-Pro-regular'),
       url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.woff2') format('woff2'),
       url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.woff') format('woff'),
       url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.ttf') format('truetype'),
       url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.svg#SourceCodePro') format('svg');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Source-Code-Pro-500/Source-Code-Pro-500.eot');
  src: url('/fonts/Source-Code-Pro-500/Source-Code-Pro-500.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro Medium'),
       local('Source-Code-Pro-500'),
       url('/fonts/Source-Code-Pro-500/Source-Code-Pro-500.woff2') format('woff2'),
       url('/fonts/Source-Code-Pro-500/Source-Code-Pro-500.woff') format('woff'),
       url('/fonts/Source-Code-Pro-500/Source-Code-Pro-500.ttf') format('truetype'),
       url('/fonts/Source-Code-Pro-500/Source-Code-Pro-500.svg#SourceCodePro') format('svg');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Source-Code-Pro-600/Source-Code-Pro-600.eot');
  src: url('/fonts/Source-Code-Pro-600/Source-Code-Pro-600.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro Semibold'),
       local('Source-Code-Pro-600'),
       url('/fonts/Source-Code-Pro-600/Source-Code-Pro-600.woff2') format('woff2'),
       url('/fonts/Source-Code-Pro-600/Source-Code-Pro-600.woff') format('woff'),
       url('/fonts/Source-Code-Pro-600/Source-Code-Pro-600.ttf') format('truetype'),
       url('/fonts/Source-Code-Pro-600/Source-Code-Pro-600.svg#SourceCodePro') format('svg');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Source-Code-Pro-700/Source-Code-Pro-700.eot');
  src: url('/fonts/Source-Code-Pro-700/Source-Code-Pro-700.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro Bold'),
       local('Source-Code-Pro-700'),
       url('/fonts/Source-Code-Pro-700/Source-Code-Pro-700.woff2') format('woff2'),
       url('/fonts/Source-Code-Pro-700/Source-Code-Pro-700.woff') format('woff'),
       url('/fonts/Source-Code-Pro-700/Source-Code-Pro-700.ttf') format('truetype'),
       url('/fonts/Source-Code-Pro-700/Source-Code-Pro-700.svg#SourceCodePro') format('svg');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.eot');
  src: url('/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.eot?#iefix') format('embedded-opentype'),
       local('Source Sans Pro'),
       local('Source-Sans-Pro-regular'),
       url('/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.woff2') format('woff2'),
       url('/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.woff') format('woff'),
       url('/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.ttf') format('truetype'),
       url('/fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.svg#SourceSansPro') format('svg');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Source-Sans-Pro-600/Source-Sans-Pro-600.eot');
  src: url('/fonts/Source-Sans-Pro-600/Source-Sans-Pro-600.eot?#iefix') format('embedded-opentype'),
       local('Source Sans Pro Semibold'),
       local('Source-Sans-Pro-600'),
       url('/fonts/Source-Sans-Pro-600/Source-Sans-Pro-600.woff2') format('woff2'),
       url('/fonts/Source-Sans-Pro-600/Source-Sans-Pro-600.woff') format('woff'),
       url('/fonts/Source-Sans-Pro-600/Source-Sans-Pro-600.ttf') format('truetype'),
       url('/fonts/Source-Sans-Pro-600/Source-Sans-Pro-600.svg#SourceSansPro') format('svg');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.eot');
  src: url('/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.eot?#iefix') format('embedded-opentype'),
       local('Source Sans Pro Bold'),
       local('Source-Sans-Pro-700'),
       url('/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.woff2') format('woff2'),
       url('/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.woff') format('woff'),
       url('/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.ttf') format('truetype'),
       url('/fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.svg#SourceSansPro') format('svg');
}

/* range styling */

input[type=range] {
  -webkit-appearance: none;
  width: 200px;
  margin-top: -10px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: greenyellow;
 
  border: none;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid greenyellow;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #303030;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #b7ff49;
}



/* custom styling */


body {
    background-color: #303030;
    margin: 0;
    padding: 2vw;
}

#controls {
  padding-top: 2vw;
  position: relative;
}

#log {
  font-family: 'Source Code Pro';
  color: greenyellow;
  list-style-type: none;
  padding: 0;
  margin: 1rem 0 0 0;
}

#map { 
  /* float: right  */
}

button {
  border: 0;
  padding: 4px 6px 2px;
  background-color: #303030;
  color: greenyellow;
  opacity: 0.8;
  font-size: 1.2rem;
}

button:disabled{
  opacity: 0.3;
  /*color: lightgray;*/
}

#range_vol {
  position: relative;
  top: -0.5em;
  margin-left: 3em;
}

select {
  outline: 0;
  border: 1px solid greenyellow;
  font-family: 'Source Code Pro';
  color: greenyellow;
  background-color:  #303030;
  font-size: 1rem;
}

#select_recs {
  width: 225px;
}

#select_recs:focus {
  outline: 0;
}

#select_speed {
  margin-right: 2em;
}

#btn_play {
  
}
#svg1 {
    /* width: 1000px; */
  width: 96vw;
}

.map-background {
  fill: #303030;
  stroke: none;
}

.building-block {
  fill: #ffe680;
  stroke: #F3D6B6;
  stroke-width: 0;
}

.node {
  fill: #303030;
}

.pointer {
  stroke: aquamarine;
  fill: aquamarine;
  stroke-width: 0;
}

.pointer.last {
  stroke: red;
  fill: red;
}

.grid {
  stroke: greenyellow;
  stroke-width: 0.15pt;
}

#histogram {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 40px;
  width: 300px;
  height: 200px;
}

#histogram .bar {
  width: 60px;
  height: 100%;
  /*display: inline-block;*/
  display: none;
  position: relative;
  margin: 0 10px;
}

#histogram .fill {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0px;
  opacity:  0.8;
}
#histogram .label {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: -22px;
  text-align: center;
  color: greenyellow;
  font-family: 'Source Code Pro';
}

label {
  color: greenyellow;
  font-family: 'Source Code Pro';
}

#cb_repeat {
  background-color: greenyellow;
  margin: 0 0 0 20px;
}

#bar60 .fill { background-color: #ff5050;}
.m60 #midi60 { fill: #ff5050;}

#bar61 .fill { background-color: #ff9933;}
.m61 #midi61 { fill: #ff9933; } 

#bar62 .fill { background-color: #ffff00;}
.m62 #midi62 { fill: #ffff00; } 

#bar63 .fill { background-color: #99ff33;}
.m63 #midi63 { fill: #99ff33; }

#bar64 .fill { background-color: #33cc33;}
.m64 #midi64 { fill: #33cc33; }

#bar65 .fill { background-color: #00ff99;}
.m65 #midi65 { fill: #00ff99; }

#bar66 .fill { background-color: #33cccc;}
.m66 #midi66 { fill: #33cccc; }

#bar67 .fill { background-color: #0099ff;}
.m67 #midi67 { fill: #0099ff; }

#bar68 .fill { background-color: #3366ff;}
.m68 #midi68 { fill: #3366ff; }

#bar69 .fill { background-color: #9966ff;}
.m69 #midi69 { fill: #9966ff; }

#bar70 .fill { background-color: #ff00ff;}
.m70 #midi70 { fill: #ff00ff; }

#bar71 .fill { background-color: #ff3399;}
.m71 #midi71 { fill: #ff3399; }

